[submodule "vim/bundle/ctrlp"]
	path = vim/vim.symlink/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/vim.symlink/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/vim.symlink/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/vim.symlink/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-surround"]
	path = vim/vim.symlink/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/vim.symlink/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/airline"]
	path = vim/vim.symlink/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/tern_for_vim"]
	path = vim/vim.symlink/bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/emmet-vim"]
	path = vim/vim.symlink/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "tmux/powerline"]
	path = tmux/powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "vim/vim.symlink/bundle/YouCompleteMe"]
	path = vim/vim.symlink/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/vim.symlink/bundle/glsl.vim"]
	path = vim/vim.symlink/bundle/glsl.vim
	url = https://github.com/beyondmarc/glsl.vim.git
[submodule "vim/vim.symlink/bundle/ack.vim"]
	path = vim/vim.symlink/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/vim.symlink/bundle/ListToggle"]
	path = vim/vim.symlink/bundle/ListToggle
	url = https://github.com/Valloric/ListToggle.git
[submodule "vim/vim.symlink/bundle/vim-javascript"]
	path = vim/vim.symlink/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/vim.symlink/bundle/tagbar"]
	path = vim/vim.symlink/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/vim.symlink/bundle/vinegar.vim"]
	path = vim/vim.symlink/bundle/vinegar.vim
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim/vim.symlink/bundle/vim-tmux-navigator"]
	path = vim/vim.symlink/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
